<%- include("partials/header")-%>

<%# substituting for roop, we use forEach method %>

  <%# post.key: Javascript variable %>
  <h1> <%= title %> </h1>
  <p> <%= content %> </p>


<%- include("partials/footer") -%>
